name: Integration tests

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java:
          - '11'
          - '17'

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '2.x'
          cache: 'pip'

      - name: Setup CCM
        run: |
          #!/bin/bash
          set -e
          pip install pyYaml six psutil
          pip install ccm

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with JDK ${{ matrix.java }}
        run: mvn -B clean install -DskipTests

      - name: Run integration tests
        run: |
          #!/bin/bash
          set -e
          mvn verify -Pmedium -Ddsbulk.ccm.CCM_VERSION=4.0.3 -Ddsbulk.ccm.CCM_IS_DSE=false -Dmax.ccm.clusters=1 -pl pulsar-impl
